*{
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
    font-weight: 100;
}


body{
    min-height: 100vh;
    width: 100%;
    background: #FFFFFF;
    background-position: center;
    background-size: cover;
    position: relative;
}
#particles-js{
    background: #FFFFFF;
}

/* align title and tabs */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
}
.nav-links{
    flex: 1;
    text-align: right;
}


/* decorations for title(About Me) */
.title a{
    color: #0FA4C0;
    text-decoration:none;
    font-size: 100px;
}
/* decorations for tab links */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 60px 50px;
    position: relative;
}
.nav-links ul li a{
    color: #0FA4C0;
    text-decoration: none;
    font-size: 27px;
}

/* add hover effect */
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background: #CCCCCC;
    display: block;
    margin: auto;
    transition: 0.15s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* message properties...i.e. centering message */
.message{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

#my_img{
    float: right;
    margin: 0px 230px 30px 15px;
}

/* texts in black properties */
#light_text{
    font-size: 36px;
}

/* texts in blue properties */
#heavy_text{
    font-size: 40.5px;
}




/* correcting view for mobile devices */
@media(max-width: 550px){
    /* adjust title font size  */
    .title a{
        font-size: 40px; 
    }

    #light_text{
        font-size: 15.8px;
    }
    #heavy_text{
        font-size: 20px;
    }

    /* decorations for tab links */
    .nav-links ul li{
        list-style: none;
        display: block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #0FA4C0;
        text-decoration: none;
        font-size: 20px;
    }

    /* hacking width of hover bar for mobile */
    .nav-links ul li:hover::after{
        width: 0%;
    }

    /* hacking img placement for mobile */
    /* please don't rotate your device...or contact me if you can teach me html :'(' */
    #my_img{
        width: 130px;
        height: 130px;
        float: none;
        margin: -100px 0px 50px -60px;
    }
}

/* correcting view for tablet devices 1020*/
@media(min-width: 551px) and (max-width: 1180px){
    /* adjust title font size  */
    .title a{
        font-size: 70px; 
    }
    
    #light_text{
        font-size: 30px;
    }
    #heavy_text{
        font-size: 34.5px;
    }

    /* decorations for tab links */
    .nav-links ul li{
        list-style: none;
        display: block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #0FA4C0;
        text-decoration: none;
        font-size: 25px;
    }

    /* hacking width of hover bar for tablet */
    .nav-links ul li:hover::after{
        width: 0%;
    }

    /* hacking img placement for tablet */
    /* please don't rotate your device...or contact me if you can teach me html :'(' */
    #my_img{
        width: 300px;
        height: 300px;
        float: none;
        margin: 0px 0px 100px -80px;
    }
}