*{
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
    font-weight: 100;
}


body{
    min-height: 100vh;
    width: 100%;
    background: #FFFFFF;
    background-position: center;
    background-size: cover;
    position: relative;
}
#particles-js{
    background: #FFFFFF;
}

/* align title and tabs */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
}
.nav-links{
    flex: 1;
    text-align: right;
}


.title a{
    color: #0FA4C0;
    text-decoration:none;
    font-size: 100px;
}
/* decorations for tab links */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 60px 50px;
    position: relative;
}
.nav-links ul li a{
    color: #0FA4C0;
    text-decoration: none;
    font-size: 27px;
}

/* add hover effect */
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background: #CCCCCC;
    display: block;
    margin: auto;
    transition: 0.15s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* message properties...i.e. centering message */
.message{
    
    width: 90%;
    color: #0FA4C0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.message h1{
    font-size: 36px;
}
.message a{
    font-size: 100px;
    color: #0FA4C0;
    text-decoration: none;
    font-size: 50px;
}
 

/* correcting view for mobile devices */
@media(max-width: 550px){
    /* adjust title font size  */
    .title a{
        font-size: 40px; 
    }
    /* adjust message font size */
    .message h1{
        font-size: 20px;
    }
    .message a{
        font-size: 27.5px;
    }

    /* decorations for tab links */
    .nav-links ul li{
        list-style: none;
        display: block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #0FA4C0;
        text-decoration: none;
        font-size: 20px;
    }

    /* hacking width of hover bar for mobile */
    .nav-links ul li:hover::after{
        width: 0%;
    }
}

/* correcting view for tablet devices */
@media(min-width: 551px) and (max-width: 1020px){
    /* adjust title font size  */
    .title a{
        font-size: 70px; 
    }
    /* adjust message font size */
    .message h1{
        font-size: 28.5px;
    }
    .message a{
        font-size: 39.2px;
    }

    /* decorations for tab links */
    .nav-links ul li{
        list-style: none;
        display: block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #0FA4C0;
        text-decoration: none;
        font-size: 25px;
    }

    /* hacking width of hover bar for tablet */
    .nav-links ul li:hover::after{
        width: 0%;
    }
}





