*{
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
    font-weight: 100;
}


body{
    min-height: 100vh;
    width: 100%;
    background: #000000;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
#particles-js{
    background: #000000;
}


/* align title and tabs */
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    /* justify-content: space-around; */
    /* align-items: center; */
    align-items:start;
}
.nav-links{
    flex: 1;
    text-align: right;
}


/* decorations for title(About Me) */
.title a{
    color: #0FA4C0;
    text-decoration:none;
    font-size: 100px;
}
/* decorations for tab links */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 60px 50px;
    position: relative;
}
.nav-links ul li a{
    color: #0FA4C0;
    text-decoration: none;
    font-size: 27px;
}

/* add hover effect */
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background: #CCCCCC;
    display: block;
    margin: auto;
    transition: 0.15s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* message properties...i.e. centering message */
.message{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

/* texts in black properties */
#light_text{
    font-size: 27px;
}
#light_text_long{
    font-size: 24px;
}

/* texts in blue properties */
#heavy_text{
    font-size: 34.2px;
}

/* DeepSeaNN results image properties */
#my_img{
    float: right;
    margin: -90px 150px -50px 15px;
}


/* correcting view for mobile devices */
@media(max-width: 550px){
    /* adjust title font size  */
    .title a{
        font-size: 40px; 
    }
    
    #light_text{
        font-size: 10.8px;
    }
    #light_text_long{
        font-size: 9.6px;
    }
    #heavy_text{
        font-size: 13.68px;
    }

    /* decorations for tab links */
    .nav-links ul li{
        list-style: none;
        display: block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #0FA4C0;
        text-decoration: none;
        font-size: 20px;
    }

    /* hacking width of hover bar for mobile */
    .nav-links ul li:hover::after{
        width: 0%;
    }   

    /* hacking img placement for mobile */
    /* please don't rotate your device...or contact me if you can teach me html :'(' */
    #my_img{
        width: 100px;
        height: 161px;
        float: top;
        margin: -200px 120px 0px -130px;
    }
    /* message properties...i.e. centering message */
.message{
    width: 90%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
}

/* correcting view for galaxy fold z devices..terrible coding scheme really.. */
@media(max-width: 281px){
    #light_text_long{
        font-size: 7.5px;
    }
    #light_text{
        font-size: 9.3px;
    }
    #my_img{
        margin: -220px 90px 0px -130px;
    }
}


/* correcting view for tablet devices */
@media(min-width: 551px) and (max-width: 1020px){
    /* adjust title font size  */
    .title a{
        font-size: 70px; 
    }
    /* adjust message font size */
    
    #light_text{
        font-size: 20px;
    }
    #light_text_long{
        font-size: 17.78px;
    }
    #heavy_text{
        font-size: 32.5px;
    }

    /* decorations for tab links */
    .nav-links ul li{
        list-style: none;
        display: block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #0FA4C0;
        text-decoration: none;
        font-size: 25px;
    }

    /* hacking width of hover bar for tablet */
    .nav-links ul li:hover::after{
        width: 0%;
    }

    /* hacking img placement for mobile */
    /* please don't rotate your device...or contact me if you can teach me html :'(' */
    #my_img{
        width: 250px;
        height: 402.5px;
        float: top;
        margin: -500px 180px 0px -130px;
    }
    /* message properties...i.e. centering message */
.message{
    width: 90%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: left;
}
}